{% extends 'base.html.twig' %}

{% block title %}
    Profilis
{% endblock %}

{% block body %}

    <h2 class="page header">Profile</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}