{% extends 'base.html.twig' %}

{% block title %}
    Apie mus
{% endblock %}

{% block body %}

    <img src="http://www.krasta-auto.lt/wp-content/uploads/2018/03/fiat-500-slider.jpg"></img>
<br />
<h1>Apie mus</h1>
    <br />
    <p>Savo veiklą pradėjome 2018 metais, šiandien atstovaujame visame pasaulyje pripažintiems prekės ženklams ir siūlome įspūdingą automobilių r „Eemonto pasirinkimą: nuo komercinių iki prabangių, retų ir sportinių. Aukščiausios kokybės paslaugas ir garantiją klientams suteikia platus „Skiperis“ autorizuotų techninio aptarnavimo centrų tinklas. Taip pat esame „JX Nippon“ korporacijos tepalų ženkloneos“ oficialus importuotojas Baltijos šalyse.</p>
{% endblock %}
