{% extends 'base.html.twig' %}

{% block title %}
    Pagrindinis
{% endblock %}

{% block body %}
    <img src="http://www.krasta-auto.lt/bmw/wp-content/uploads/sites/2/2018/03/bmw-servisas-hero.jpg"></img>

    <section class="simple-section heading-section" >
        <div class="site-block">
            <h2 class="section-title"><p>Skiperiu <strong>AUTO</strong> servisas</p>
                </strong></h2>
        </div>
    </section>
    <section class="simple-section " >
        <div class="site-block">
            <div class="simple-content">
                <p><img class=" wp-image-74 alignleft" src="http://www.krasta-auto.lt/bmw/wp-content/uploads/sites/2/2018/01/simple-content-1.png" alt="" width="160" height="100" /></p>

                <p>Profesonalios serviso paslaugos Kaune! Siūlome apžiūrą prieš automobilio pirkimą (pre-purchase inspection), prieš techninės apžiūros remontą ir kitas paslaugas!</p>
            </div>
        </div>
    </section>
{% endblock %}