{% extends 'base.html.twig' %}

{% block title %}Paslaugos{% endblock %}

{% block body %}
<img src="http://www.krasta-auto.lt/rolls-royce/wp-content/uploads/sites/11/2018/03/rolls-royce-servisas-hero.jpg"></img>
    <br/>
    <h1>Paslaugos</h1>
    <br>
    <ul>
        <li>Važiuoklės remontas</li>
        <li>Stabdžių sistemos remontas</li>
        <li>Variklio diagnostika ir remontas</li>
        <li>Kompiuterinė diagnostika</li>
        <li>Skirstymo dirželių keitimas</li>
        <li>Variklio galvutės tarpinės keitimas</li>
        <li>Įvairūs mechaniniai darbai</li>
        <li>Kuro sistemos remontas</li>
        <li>Sankabos keitimas</li>
        <li>Duslintuvų remontas</li>
        <li>Paruošimas techinei apžiūrai ir jos praėjimas</li>
    </ul>

    <p>Taupant Jūsų laiką teikiame naują paslaugą: sutvarkome jūsų automobilį techninei apžiūrai ir autoserviso darbuotojai pasirūpina technine jūsų automobilio apžiūra „TA centre Juta“.</p>
{% endblock %}
