{% extends 'base.html.twig' %}

{% block title %}Kontaktai{% endblock %}

{% block body %}
    <h2>Snail mail</h2>
    <br/>
    <ul>
        <li>UAB Skiperis</li>
        <li>Studentų g. 50, Kaunas</li>
        <li>LT-45513</li>
        <li>+37065525258</li>
    </ul>
{% endblock %}
