{% extends 'base.html.twig' %}

   {% block title %}
       Change password
   {% endblock %}


    {% block body %}

<<<<<<< HEAD
=======
        <h2 class="page header">Slaptažodžio keitimas</h2>
>>>>>>> 88f82deb51009d8847369930782aa7676db1342e

        {{ form(changePassword_form) }}
    {% endblock %}

