{% extends 'base.html.twig' %}

   {% block title %}
       Change password
   {% endblock %}


    {% block body %}

        <h2 class="page header">password</h2>

        {{ form(changePassword_form) }}
    {% endblock %}

