{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <div class="container justify-content-between">

        {#Naujo uzsakymo forma#}

    </div>

{% endblock %}