{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="container justify-content-between">
         {{ form(form) }}
    </div>


{% endblock %}
