{% extends 'base.html.twig' %}

{% block title %}Uzsakymai{% endblock %}

{% block body %}
  <table class="table table-stripped">
    <thread>
      <tr>
        <th>
        <th>#</th>
        <th>Todo</th>
        <th>Due Date</th>
        <th></th>
      </tr>
    </thread>
    <tbody>
    {% for order in orders %}
    <tr>
      <th scope="row">{{ order.id }}</th>
      <td>Name</td>
      <td>{{ order.due_date | date('F j, Y')}}</td>
      <td>
        <a href="/order/details " class="btn btn-success">
          View</a>
        <a href="/order/edit " class="btn btn-default">
          Edit</a>
        <a href="/order/remove " class="btn btn-danger">
          Delete</a>
      </td>
    </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}