{% extends 'base.html.twig' %}

{% block title %}Atsiliepimai{% endblock %}

{% block body %}
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Eugenijus Ostapenko</a>
                    </h3>
                    <div class="mb-1 text-muted">Rugsėjo 1</div>
                    <p class="card-text mb-auto">Užsakiau automobilio paruošimą techninei apžiūrai. Skiperio serviso meistrai sutvarkė pigiai ir greitai, o automobilis apžiūrą praėjo be problemų!</p>
                </div>
                <img src="https://dailycard.lt/imgs/main-17554508_1425105997562420_3969241716888634584_n.jpg"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Radži</a>
                    </h3>
                    <div class="mb-1 text-muted">Liepos 14</div>
                    <p class="card-text mb-auto">Iš variklio pabėgo visi mano numylėto BMW vokiški arkliai, Skiperio serviso vyrai visus juos sugaudė ir vėl grąžino!</p>
                </div>
                <img src="https://dailycard.lt/imgs/main-vlcsnap-2015-05-15-13h39m24s87_1024x576.jpg"/>
            </div>
        </div>
    </div>
{% endblock %}
