<!DOCTYPE html>
<html>
<h3>Jusu užsakymas atšauktas</h3>

Nemalonu pranešti, tačiau jūsų užsakymas atšauktas. Noredami gauti daugiau informacijos susisiekite su mumis telefonu +37061359887 arba atvykite į mūsų autoservisą.

Atsiprašome už nepatogumus.
</html>