<!DOCTYPE html>
<html>
<h3>Slaptažodzio atstatymas</h3>

Gavote šį laišką, noredamas(-a) gauti naują slaptažodi.

Norėdami pasikeisti slaptažodį spauskite čia: <a href="{{ url('passwordReset') }}?email={{ email }}&hash={{ hash }}">Pakeisti slaptažodį</a>.

Dękojame, kad naudojates mūsų paslaugomis!

</html>