<!DOCTYPE html>
<html>
<h3>Slaptazodzio atstatymas</h3>

Gavote si laiska, noredamas(-a) gauti nauja slaptazodi.

Noredami pasikeisti slaptazodi spauskite cia: <a href="{{ url('passwordReset') }}?email={{ email }}&hash={{ hash }}">Pakeisti slaptazodi</a>.

Dekojame, kad naudojates musu paslaugomis!

</html>