<!DOCTYPE html>
<html>
<h3>Jus užsiregistravote!</h3>

Sveiki, {{ name }}! Sveikiname sėkmingai užsiregistravus.

Norėdami prisijungti spauskite čia: <a href="{{ url('login') }}">Prisijungimo puslapis</a>.

Dėkojame, kad naudojates mūsų paslaugomis!

</html>