<!DOCTYPE html>
<html>
<h3>Jus uzsiregistravote!</h3>

Sveiki, {{ name }}! Sveikiname sekmingai uzsiregistravus.

Noredami prisijungti spauskite cia: <a href="{{ url('login') }}">Prisijungimo puslapis</a>.

Dekojame, kad naudojates musu paslaugomis!

{#<img src="{{ absolute_url(asset('images/car-service.png')) }}">#}
</html>